form{
    width: 30%;
    margin: 15px auto;
    border: 1px solid #ccc;
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input{
    padding: 2%;
    display: block;
    width: 96%;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button{
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.error{
    color: red;
}
